@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comme:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
   
}

.banner{
    background-color: #f1f5f9;
    margin: 0;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 350px;
   
}

.paragrafo {
    margin-bottom: 20px;
    font-family: 'Comme', sans-serif;
    color: rgb(175, 172, 172);
    
}
  
.titulo {
    margin-bottom: 20px;
}
  
.button-container {
    display: flex;
    margin-top: 10px;
}
  
.button1 {
    margin-right: 20px;
    border-radius: 6px;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    color: white;
    background-color: #000dff;
    z-index: 2;
    overflow: hidden;
    transition: 0.5s;
}



.button2 {
    margin-left: 10px;
    border-radius: 7px;
    padding: 20px;
    width: 150px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    color: white;
    background-color: #27cb8b;
    z-index: 2;
    transition: 0.3s ease-in-out;
}



.titulo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
}

.imagens {
    position: relative;
    height: 500px; /* ajuste a altura de acordo com sua necessidade */
    margin-top: -4820px;
  }
  
  .img-banner {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 5;
    display: block;
  }
  
  .img-banner2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    display: block;
  }

.detalhe{
    position: relative;
    top: 160px;
    left: 100px;
}

.jobs{
    font-size: 20em; /* Altere o tamanho da fonte conforme necessário */
    position: absolute;
    z-index: 0; /* Define a profundidade do elemento para que ele fique atrás dos outros elementos */
    top: 290px;
    left: 480px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.bar{
   
    width: 150%;
    z-index: 111;
    display: flex;
    position: relative;
    top: -190px;
}

.links{
   display: flex;
   position: relative;
   left: 38%;
   align-items: center;
}

.links a{
    text-decoration: none;
    color: #000449;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 70px;
    transition: 0.5s;
}

.links a:hover{
    color: #000dff;
}

.links button{
    margin-left: 25px;
}

.linha1{
    background-color: #000dff;
    height: 5px;
    width: 10px;
    border-radius: 10px;
    position: relative;
    left: 0px;
    top: 37px;
    display: none;
    transition: 0.5s;
}

.linha2{
    background-color: #000dff;
    width: 10px;
    height: 5px;
    border-radius: 10px;
    position: relative;
    left: 120px;
    top: 37px;
    transition: 0.5s;
    display: none;
}

.linha3{
    background-color: #000dff;
    width: 10px;
    height: 5px;
    border-radius: 10px;
    position: relative;
    left: 292px;
    top: 37px;
    transition: 0.5s;
    display: none;
}

.button3{
    background-color: #27cb8b;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 130px;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.5s;
    cursor: pointer;
}

.button3:hover{
    background-color: #30e49f;
}

.button4{
    background-color: transparent;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 130px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
}


.bar img{
    left: 35%;
    position: relative;
}

.info{
    position: relative;
    top: 100px;
    display: flex;
    left: 40%;
    flex-direction: column;
}

.inf1{
    color: #000DFF;
    font-size: 120px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
}

.inf2{
    text-transform: uppercase;
    font-family: "DM Sans",sans-serif;
    color: #00044A;
    text-transform: capitalize;
    font-size: 46px;
    position: relative;
    left: -100px;
}

.paragrafo2{
    font-family: "DM Sans",sans-serif;
    color: #6D6E8D;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    position: relative;
    left: -200px;
    margin-top: 10px;
}

.p2{
    font-family: "DM Sans",sans-serif;
    color: #6D6E8D;
    font-size: 17px;
    line-height: 30px;
    font-weight: normal;
    position: relative;
    left: -20px;
}

.conted-container{
    font-family: "DM Sans",sans-serif;
    background-color: #ffffff;
    width: 350px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 250px;
    left: 20px;
    border-radius: 4px;
    font-size: 17px;
    margin: 0;
    border: 2px solid #efefef;
}

.svg1{
   margin-left: 25px;
   margin-bottom: 40px;
}

.h1-ct{
    margin-bottom: 20px;
    margin-left: 10px;
    color: #00044a;
}

.p-ct{
    margin-left: 10px;
    margin-bottom: 60px;
    color: #757693;
}

.bt-ct{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    color: #000DFF;
    font-size: 16px;
    font-family: "DM Sans",sans-serif;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.ct2{
    position: relative;
    left: 50%;
    font-family: "DM Sans",sans-serif;
    background-color: #ffffff;
    width: 350px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    font-size: 17px;
    margin: 0;
    border: 2px solid #efefef;
    top: -124.5px;
    left: 390px;
}

.ct2 h1{
    margin-bottom: 20px;
    margin-left: 10px;
    color: #00044a;
}

.ct2 svg{
    margin-left: 25px;
    margin-bottom: 40px;
}

.ct2 p{
    margin-left: 10px;
    margin-bottom: 60px;
    color: #757693;
}

.ct2 button{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    color: #000DFF;
    font-size: 16px;
    font-family: "DM Sans",sans-serif;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.ct3{
    position: relative;
    font-family: "DM Sans",sans-serif;
    background-color: #ffffff;
    width: 350px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    font-size: 17px;
    margin: 0;
    border: 2px solid #efefef;
    top: -498px;
    left: 760px;
}

.ct3 h1{
    margin-bottom: 20px;
    margin-left: 10px;
    color: #00044a;
}

.ct3 svg{
    margin-left: 25px;
    margin-bottom: 40px;
}

.ct3 p{
    margin-left: 10px;
    margin-bottom: 60px;
    color: #757693;
}

.ct3 button{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    color: #000DFF;
    font-size: 16px;
    font-family: "DM Sans",sans-serif;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.ct4{
    position: relative;
    font-family: "DM Sans",sans-serif;
    background-color: #ffffff;
    width: 350px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    font-size: 17px;
    margin: 0;
    border: 2px solid #efefef;
    top: -873px;
    left: 1135px;
}

.ct4 h1{
    margin-bottom: 20px;
    margin-left: 10px;
    color: #00044a;
}

.ct4 svg{
    margin-left: 25px;
    margin-bottom: 40px;
}

.ct4 p{
    margin-left: 10px;
    margin-bottom: 60px;
    color: #757693;
}

.ct4 button{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    color: #000DFF;
    font-size: 16px;
    font-family: "DM Sans",sans-serif;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.ct5{
    position: relative;
    font-family: "DM Sans",sans-serif;
    background-color: #ffffff;
    width: 350px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    font-size: 17px;
    margin: 0;
    border: 2px solid #efefef;
    top: -1248px;
    left: 1505px;
}

.ct5 h1{
    margin-bottom: 20px;
    margin-left: 10px;
    color: #00044a;
}

.ct5 svg{
    margin-left: 25px;
    margin-bottom: 40px;
}

.ct5 p{
    margin-left: 10px;
    margin-bottom: 60px;
    color: #757693;
}

.ct5 button{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    color: #000DFF;
    font-size: 16px;
    font-family: "DM Sans",sans-serif;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.desc{
    position: relative;
    top: -1050px;
    background-color: #f1f5f9;
    width: 100%;
    font-family: "DM Sans",sans-serif;
    height: 1000px;
}

.desc h1{
    color: #00044a;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 15%;
    font-size: 40px;
    left: -250px;
}

.p-desc{
    color: #82879b;
    display: flex;
    justify-content: flex-end;
    top: 18%;
    position: relative;
    font-size: 15px;
    left: -250px;
}

.p-desc2{
    color: #82879b;
    display: flex;
    justify-content: flex-end;
    top: 20%;
    position: relative;
    font-size: 15px;
    left: -255px;
    
}

.desc img{
    position: relative;
    top: -200px;
    left: 100px;
}

.desc button{
    background: #000DFF;
    font-family: "DM Sans",sans-serif;
    padding: 30px 43px;
    display: inline-block;
    font-size: 16px !important;
    font-weight: 700 !important;
    border-radius: 5px;
    line-height: 1;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    color: white;
    left: 70%;
    top: -400px;
    transition: 0.4s linear;
    cursor: pointer;
}

.desc h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 180px;
    position: relative;
    top: -250px;
    left: 500px;
    color: white;
}

.container-desc{
    display: flex;
    justify-content: center;
}

.h1-container{
    font-family: "DM Sans",sans-serif;
    width: 1050px;
    position: relative;
    left: 23%;
    top: -1000px;
    height: 300px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-container h1{
    color: #00044a;
}

.h1-container p{
    color: #97798d;
}

.p-container{
    font-size: 20px;
    margin-top: 15px;
}

.p2-container{
    margin-left: 10px;
    margin-top: 6px;
}

.el-container{
    width: 1200px;
    position: relative;
    left: 20%;
    top: -1000px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    justify-content: space-between;
}

.el1{
    width: 380px;
    height: 380px;
    border-radius: 7px;
    transition: all .4s ease-out 0s;
    background-color: transparent;
}

.el1 button{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #000DFF !important;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    padding: 11px 30px;
    font-weight: 700 !important;
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    transition: all .4s ease-out 0s;
    background-color: transparent;
    cursor: pointer;
}

.el1 h1{
    font-family: "DM Sans",sans-serif;
    color: #00044A;
    margin-top: 30px;
    margin-left: 20px;
}

.el1 p{
    font-family: "DM Sans",sans-serif;
    color: #97798d;
    margin-top: 30px;
    margin-left: 20px;
}

.el1 svg{
    margin-left: 25px;
    margin-top: 50px;
}

.el2{
    width: 380px;
    height: 380px;
    border-radius: 7px;
    transition: all .4s ease-out 0s;
    background-color: transparent;
}

.el2 button{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #000DFF !important;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    padding: 11px 30px;
    font-weight: 700 !important;
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    transition: all .4s ease-out 0s;
    background-color: transparent;
    cursor: pointer;
}

.el2 h1{
    font-family: "DM Sans",sans-serif;
    color: #00044A;
    margin-top: 30px;
    margin-left: 20px;
}

.el2 p{
    font-family: "DM Sans",sans-serif;
    color: #97798d;
    margin-top: 30px;
    margin-left: 20px;
}

.el2 svg{
    margin-left: 25px;
    margin-top: 50px;
}

.el3{
    width: 380px;
    height: 380px;
    border-radius: 7px;
    transition: all .4s ease-out 0s;
    background-color: transparent;
}

.el3 button{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #000DFF !important;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    padding: 11px 30px;
    font-weight: 700 !important;
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    transition: all .4s ease-out 0s;
    background-color: transparent;
    cursor: pointer;
}

.el3 h1{
    font-family: "DM Sans",sans-serif;
    color: #00044A;
    margin-top: 30px;
    margin-left: 20px;
}

.el3 p{
    font-family: "DM Sans",sans-serif;
    color: #97798d;
    margin-top: 30px;
    margin-left: 20px;
}

.el3 svg{
    margin-left: 25px;
    margin-top: 50px;
}


.el4{
    width: 380px;
    height: 380px;
    border-radius: 7px;
    transition: all .4s ease-out 0s;
    background-color: transparent;
}

.el4 button{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #000DFF !important;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    padding: 11px 30px;
    font-weight: 700 !important;
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    transition: all .4s ease-out 0s;
    background-color: transparent;
    cursor: pointer;
}

.el4 h1{
    font-family: "DM Sans",sans-serif;
    color: #00044A;
    margin-top: 30px;
    margin-left: 20px;
}

.el4 p{
    font-family: "DM Sans",sans-serif;
    color: #97798d;
    margin-top: 30px;
    margin-left: 20px;
}

.el4 svg{
    margin-left: 25px;
    margin-top: 50px;
}

.el5{
    width: 380px;
    height: 380px;
    border-radius: 7px;
    transition: all .4s ease-out 0s;
    background-color: transparent;
}

.el5 button{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #000DFF !important;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    padding: 11px 30px;
    font-weight: 700 !important;
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    transition: all .4s ease-out 0s;
    background-color: transparent;
    cursor: pointer;
}

.el5 h1{
    font-family: "DM Sans",sans-serif;
    color: #00044A;
    margin-top: 30px;
    margin-left: 20px;
}

.el5 p{
    font-family: "DM Sans",sans-serif;
    color: #97798d;
    margin-top: 30px;
    margin-left: 20px;
}

.el5 svg{
    margin-left: 25px;
    margin-top: 50px;
}

.el6{
    width: 380px;
    height: 380px;
    border-radius: 7px;
    transition: all .4s ease-out 0s;
    background-color: transparent;
}

.el6 button{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #000DFF !important;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    padding: 11px 30px;
    font-weight: 700 !important;
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    transition: all .4s ease-out 0s;
    background-color: transparent;
    cursor: pointer;
}

.el6 h1{
    font-family: "DM Sans",sans-serif;
    color: #00044A;
    margin-top: 30px;
    margin-left: 20px;
}

.el6 p{
    font-family: "DM Sans",sans-serif;
    color: #97798d;
    margin-top: 30px;
    margin-left: 20px;
}

.el6 svg{
    margin-left: 25px;
    margin-top: 50px;
}

.end-container{
    background-color: #f1f5f9;
    position: relative;
    margin-top: -1000px;
    display: flex;
    align-items: center;
}

.end-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #e0e5f9;
    margin-top: 30px;
    cursor: pointer;
}

.end-button2{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #e0e5f9;
    margin-top: 37px;
    margin-left: 10px;
    cursor: pointer;
}

.end-button3{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #e0e5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    position: relative;
    top: -41px;
    margin-left: 108px;
    cursor: pointer;
}

.end-button3 svg{
    width: 25px;
    transition: 0.7s;
}

.end-button svg{
    width: 25px;
    transition: 0.7s;
}

.end-button2 svg{
    width: 27px;
    margin-top: 3px;
    transition: 0.7s;
}


.end1{
    width: 310px;
    height: 250px;
    position: relative;
    left: 120%;
    top: 230px;
    font-family: "DM Sans",sans-serif;
}

.end1 p{
    color: #97798d;
    margin-top: 20px;
}

.end2{
    position: relative;
    left: 270%;
    margin-bottom: 10px;
}

.end2 h1{
    font-size: 25px;
    font-family: "DM Sans",sans-serif;
    color: #00044a;
}

.end2 li{
    font-family: "DM Sans",sans-serif;
    list-style: none;
    margin-top: 8px;
    transition: 0.2s;
    color: #6d83ba;
    cursor: pointer;
}

.end2 li:hover{
    color: #000DFF;
    text-decoration: underline;
}

.end3{
    height: 300px;
    position: relative;
    top: -200px;
    left: 1200px;
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    font-family: "DM Sans",sans-serif;
}
.end3 h1{
    color: #00044a;
    font-size: 27px;
}

.end3 p{
    color: #6d83ba;
    margin-top: 20px;
    margin-bottom: 20px;
}

.end3 input{
    width: 250px;
    height: 40px;
    border-radius: 3px;
    padding-left: 5px;
    transition: 0.5s;
}

.end3 input:focus{
    margin-left: 10px;
    outline: none;
}

.end3 button{
    margin-top: 8px;
    width: 250px;
    height: 40px;
    color: white;
    background-color: #000DFF;
    font-family: "DM Sans",sans-serif;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}

.cp{
    position: relative;
    top: 270px;
    font-family: "DM Sans",sans-serif;
    left: 360px;
}

.st{
    color: #000DFF;
    cursor: pointer;
}

